In [1]:
# import pandas and bisweb script
import pandas as pd
from bisweb import bisweb_batch

In [2]:
# read in sample data
df = pd.read_csv('sample_data.csv')

In [3]:
# look at data
df

          bbl
0  1000940025
1  3021110015
2  2024620001
3  4049770099
4  5024000180

In [4]:
# pass the DataFrame to the bisweb_batch script to return BINs
bisweb_batch(df, bbl='bbl')

          bbl bisweb_bin
0  1000940025    1001289
1  3021110015    3059185
2  2024620001    2002826
3  4049770099    4112373
4  5024000180    5039658